<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <div th:replace="/layout :: header"></div>
  </head>

  <body>
    <div id="cabecera">
      <div th:include="/layout :: navbar"></div>
    </div>

    <!--NAVBAR-->

    <div class="container mt-4">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Num</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="persona:${personas}">
            <td th:text="${persona.idpersona}">${id_persona}</td>
            <td th:text="${persona.dnipersona}">${dni_persona}</td>
            <td th:text="${persona.nombres}">${persona.nombres}</td>
            <td th:text="${persona.apellidop}">${persona.apellidop}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--body-->
    <div class="text-center">
      ->
    </div>
  </body>
</html>
