<!DOCTYPE html>
<html lang="en">
<head>
    <html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
</head>

<th:block th:fragment="header">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">

	<!-- Fontawesome css -->
	<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">

	<!-- Bootstrap -->
	<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- JQuery -->
	<script th:src="@{https://code.jquery.com/jquery-3.2.1.slim.min.js}"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

</th:block>

<th:block th:fragment="navbar">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-nav mr-auto navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">

            <a class="nav-link active" href="#">Inicio <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="usuario.html" >Link</a>

        </div>
        <div class="mx-auto order-0"><a class="navbar-brand mx-auto" href="index.html">San Martin</a></div>
        <div class="navbar-nav mr-auto navbar-collapse collapse w-100 order-3 dual-collapse2"><a
                class="nav-item nav-link navbar-nav ml-auto " href="usuario.html" th:href="@{/perfil/wachar}"  th:text="'Bienvenido: ' +${user}">Home</a></div>
                

    </nav>
</th:block>
</html>